mat-card::ng-deep.mat-card-header-text {
  width: 100%;
}
.example-card {
    margin-top: 20px;
    margin-left: 100px;
    max-width: 1000px;
    min-width:900px;
    height: 750px;
    font-size: 9px;
    overflow-y: scroll;
  }

  .image{
    height:170px;
    width:170px;
    border: 1px solid #000;
    margin-left: 20px;
    align-items: center;

}
  .cloudcard{
    border:2px solid rgb(206, 206, 206);
    height: 200px;
    width: 220px;
  }
  .cardtitle{
    text-align: center;
    font-family: 'Times New Roman';
  }
  .cloudcardheader{
    margin-bottom: 5px;
  }

  .tile-orientation{
    margin-top: 20px;
    
  }
  .matcardTitle{
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 15px;
  }
  