
<mat-card class="example-card">
  <mat-card-title>Certifications from various organisations</mat-card-title>
  <mat-tab-group >
    <mat-tab label="Cloud"> 
      <mat-card class="cloudcard">
        <mat-card-header>
          <mat-card-title>Card 1 certification name</mat-card-title>
        </mat-card-header>
      <img mat-card-image class="datacamp" src="./../../assets/datacamp.png" alt="Datacamp logo" >
       </mat-card>
    </mat-tab>
    
    <mat-tab label="Python">Python</mat-tab>
    <mat-tab label="R"> R </mat-tab>
    <mat-tab label="SQL"> SQL </mat-tab>
    <!-- <mat-tab label="Deep Learning"> SQL </mat-tab>
    <mat-tab label="Natural Language Processing"> SQL </mat-tab> -->
  </mat-tab-group>
</mat-card>
