<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-button [routerLink]="['/certifications']">
      Projects
  </button> <button mat-button [routerLink]="['/certifications']">
    Certifications
</button> <button mat-button [routerLink]="['/certifications']" >
  About Me
</button> 

    <span class="example-spacer"></span>
    <div style="text-align:center">
        <a mat-icon-button class="btn-facebook" href="https://www.facebook.com/srinidhi.ln"><i class="fa fa-facebook fa-lg"></i></a>
        <a mat-icon-button class="btn-linkedin" href="https://www.linkedin.com/in/srinidhilakshminarayanan/"><i class="fa fa-linkedin fa-lg"></i></a>
        <a mat-icon-button class="btn-instagram" href="https://www.instagram.com/srinidhi_l/"><i class="fa fa-instagram fa-lg"></i></a>
        <a mat-icon-button class="btn-mail" href="mailto:lakshmi6@msu.edu"><i class="fa fa-envelope-o fa-lg"></i></a>
     </div>
  </mat-toolbar>